In [22]:
import numpy as np 
import pandas as pd 

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error , r2_score

In [53]:
df = pd.read_csv('house.csv')
df.isnull().sum()
df.drop(['sqft_above'] , axis='columns', inplace=True)
conv_dates=[1 if values==2014 else 0 for values in df.date ]
df ['data']=conv_dates

In [54]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,data
0,02-05-2014 00:00,313000.0,3,1.50,1340,7912,1.5,0,0,3,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,0
1,02-05-2014 00:00,2384000.0,5,2.50,3650,9050,2.0,0,4,5,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,0
2,02-05-2014 00:00,342000.0,3,2.00,1930,11947,1.0,0,0,4,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,0
3,02-05-2014 00:00,420000.0,3,2.25,2000,8030,1.0,0,0,4,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,0
4,02-05-2014 00:00,550000.0,4,2.50,1940,10500,1.0,0,0,4,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,0

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   int64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_basement  4600 non-null   int64
 11  yr_built       4600 non-null   int64
 12  yr_renovated   4600 non-null   int64
 13  street         4600 non-null   object
 14  city           4600 non-null   object
 15  statezip       4600 non-null   object
 16  country        4600 non-null   object
 17  data           4600 non-null   int64
dtypes: float64(3), int64(10), object(5)
memory usage: 647.0+ KB

In [60]:
x = df[['sqft_lot', 'bedrooms', 'bathrooms']] 
y = df['price']

In [63]:
x_train , x_test , y_train , y_test = train_test_split(x, y, test_size=0.2, random_state= 0)

In [64]:
#model train 
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [65]:
y_pred = model.predict(x_test)

In [66]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [67]:
print(f'Mean Squared Error: {mse:.2f}')
print(f'R-squared: {r2:.2f}')

Mean Squared Error: 113822992242.98
R-squared: 0.23